.RData
.RHistory
.project
.cproject
Makefile.mine

build
build/**

*.zip
*.tar.gz
*.pdf
*.launch

*.o
*.d
*.bin
*.elf
*.a
*.xml
*.swp

# mbed object files and libraries should be versioned
!mbed/**/*.o
!mbed/**/*.a

.settings/**
